

#[include shell_command.cfg]
#[include K-ShakeTune/*.cfg]
#[include adxl345.cfg]
[include z_tilt.cfg]
[include exclude_object.cfg]
[include mainsail.cfg]
[include timelapse.cfg]
[include config_backup.cfg]
[include KAMP_Settings.cfg]
[include start_end_print.cfg]
[include knomi2.cfg]
[include led_progress.cfg]
[include pid&bed_mesh.cfg]
# [include ebb42.cfg]
[exclude_object]
[display_status]
[pause_resume]
[include neo.cfg]
[endstop_phase]


[gcode_arcs]
resolution: 1.0

[idle_timeout]
timeout: 172800

[gcode_macro G29]
gcode:
  G28
  bed_mesh_calibrate
  G1 X0 Y0 Z10 F4200
  save_config
  
[virtual_sdcard]
path: /home/kev/printer_data/gcodes

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  ##### get user parameters or use default #####
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set allow_park = client.park_at_cancel|default(false)|lower == 'true' %}
  {% set retract = client.cancel_retract|default(5.0)|abs %}
  ##### define park position #####
  {% set park_x = "" if (client.park_at_cancel_x|default(none) is none)
            else "X=" ~ client.park_at_cancel_x %}
  {% set park_y = "" if (client.park_at_cancel_y|default(none) is none)
            else "Y=" ~ client.park_at_cancel_y %}
  {% set custom_park = park_x|length > 0 or park_y|length > 0 %}
  ##### end of definitions #####
  # restore idle_timeout time if needed
  {% if printer['gcode_macro RESUME'].restore_idle_timeout > 0 %}
    SET_IDLE_TIMEOUT TIMEOUT={printer['gcode_macro RESUME'].restore_idle_timeout}
  {% endif %}
  {% if (custom_park or not printer.pause_resume.is_paused) and allow_park %} _TOOLHEAD_PARK_PAUSE_CANCEL {park_x} {park_y} {% endif %}
  _CLIENT_RETRACT LENGTH={retract}
  TURN_OFF_HEATERS
  M106 S0
  {client.user_cancel_macro|default("")}
  SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=idle_state VALUE=False
  # clear pause_next_layer and pause_at_layer as preparation for next print
  SET_PAUSE_NEXT_LAYER ENABLE=0
  SET_PAUSE_AT_LAYER ENABLE=0 LAYER=0
  CANCEL_PRINT_BASE
   G1 E-1 F2700
   G1 X0 Y347 F3000 ;Wipe out
   G1 Z50 ;Raise Z more
   M106 S0 ;Turn-off fan
   M104 S0 ;Turn-off hotend
   M140 S0 ;Turn-off bed    
   M84 X Y E ;Disable all steppers but Z
  
